// Standard Collections

.collectionWrap {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-top: 24px;
}

.collectionGroup {
  border-bottom: solid 1px $nisp-gray;
  margin: 12px;
  min-width: 30%;
  h4 {
    margin-top: 0;
  }

  ul {
    margin-left: 16px;
  }
}

.stdgroup {
  list-style-position: inside;
  margin-top: 16px;
}

.collectionItem {
  list-style-type: none;
  margin-bottom: 5px;
  padding-left: 8px;
}

.stdComplete {
  border-left: 7px solid $std-complete;
}

.stdIncomplete {
  border-left: 7px solid $std-incomplete;
}

// Legend box used in Standards list

ul.legendbox {
  border: 1px solid $nisp-gray;
  display: inline;
  list-style: none;
  margin-left: 0;
  padding: 8px;
  padding-right: 0;

  li {
    border-left-width: 24px;
    display: inline;
    padding-left: 8px;
    padding-right: 32px;
  }
}
