<ul class="tree">
   <li class="capability-color"><a href="/capabilityprofile/sip-for-smc.html">SIP for Service Management and Control</a><ul>
         <li class="service-color"><a href="/serviceprofile/sip-for-smc-profile.html">Service Interface Profile for Service Management and Control Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/sip-for-smc-profile.html">Service Interface Profile for Service Management and Control Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/sip-for-smc-profile.html">Service Interface Profile for Service Management and Control Service Profile</a></li>
      </ul>
   </li>
</ul>