<ul class="tree">
   <li class="capability-color"><a href="/capabilityprofile/architecture.html">Architecture profile</a><ul>
         <li class="service-color"><a href="/serviceprofile/arch-formalism.html">Architecture Formalism</a></li>
         <li class="service-color"><a href="/serviceprofile/arch-std-lang.html">Architecture Standard Language</a></li>
         <li class="service-color"><a href="/serviceprofile/arch-process.html">Architecture Process</a></li>
         <li class="service-color"><a href="/serviceprofile/arch-evaluation.html">Architecture Evaluation</a></li>
         <li class="service-color"><a href="/serviceprofile/arch-management.html">Architecture Management</a></li>
         <li class="service-color"><a href="/serviceprofile/arch-gov.html">Architecture Governance</a></li>
      </ul>
   </li>
</ul>