<ul class="tree">
   <li class="capability-color"><a href="/capabilityprofile/fmn3.html">FMN Spiral 3 - Standards Profile</a><ul>
         <li class="profile-color"><a href="/profile/fmn3-pr-comm-network.html">FMN Spiral 3 Communications and Networking Profile</a><ul>
               <li class="profile-color"><a href="/profile/fmn3-pr-communication.html">FMN Spiral 3 Communications Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-inter-autonomous-systems-ip-transport-profile.html">FMN Spiral 3.0 Inter-Autonomous Systems IP Transport Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-inter-autonomous-systems-multicast-routing-profile.html">FMN Spiral 3.0 Inter-Autonomous Systems Multicast Routing Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-inter-autonomous-systems-routing-profile.html">FMN Spiral 3.0 Inter-Autonomous Systems Routing Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-inter-autonomous-systems-ip-communications-security-profile.html">FMN Spiral 3.0 Inter-Autonomous Systems IP Communications Security Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-interface-auto-configuration-profile.html">FMN Spiral 3.0 Interface Auto-Configuration Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-routing-encapsulation-profile.html">FMN Spiral 3.0 Routing Encapsulation Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-ip-quality-of-service-profile.html">FMN Spiral 3.0 IP Quality of Service Profile</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn3-pr-networking.html">FMN Spiral 3 Networking Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-digital-certificate-profile.html">FMN Spiral 3.0 Digital Certificate Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-domain-naming-profile.html">FMN Spiral 3.0 Domain Naming Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-sp-time-synchronization.html">FMN Spiral 3.0 Time Synchronization Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-sp-directory-data-structure.html">FMN Spiral 3.0 Directory Data Structure Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-cryptographic-algorithms-profile.html">FMN Spiral 3.0 Cryptographic Algorithms Profile</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="profile-color"><a href="/profile/fmn3-pr-community-interest.html">FMN Spiral 3 Communities of Interest Profile</a><ul>
               <li class="profile-color"><a href="/profile/fmn3-pr-intell.html">FMN Spiral 3 Intelligence Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-isr-library-interface-profile.html">FMN Spiral 3.0 ISR Library Interface Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-formatted-messages-for-isr-profile.html">FMN Spiral 3.0 Formatted Messages for ISR Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-formatted-messages-intelligence-profile.html">FMN Spiral 3.0 Formatted Messages for Intelligence Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-formatted-messages-isr-exploitation-profile.html">FMN Spiral 3.0 Formatted Messages for ISR Exploitation Profile</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn3-pr-sit-aware.html">FMN Spiral 3 Situational Awareness Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-battlespace-event-federation-profile.html">FMN Spiral 3.0 Battlespace Event Federation Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-friendly-force-tracking-profile.html">FMN Spiral 3.0 Friendly Force Tracking Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-symbology-federation-profile.html">FMN Spiral 3.0 Symbology Federation Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-maritime-information-exchange-profile.html">FMN Spiral 3.0 Maritime Information Exchange Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-formatted-messages-for-sa-profile.html">FMN Spiral 3.0 Formatted Messages for SA Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-land-c2-information-exchange-profile.html">FMN Spiral 3.0 Land C2 Information Exchange Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-tactical-message-distribution-profile.html">FMN Spiral 3.0 Tactical Message Distribution Profile</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn3-pr-smc.html">FMN Spiral 3 SMC Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-smc-process-choreography-profile.html">FMN Spiral 3.0 SMC Process Choreography Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-smc-process-implementation-profile.html">FMN Spiral 3.0 SMC Process Implementation Profile</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="profile-color"><a href="/profile/fmn3-pr-human-to-human.html">FMN Spiral 3 Human-to-Human Communications Profile</a><ul>
               <li class="profile-color"><a href="/profile/fmn3-pr-uni-collab.html">FMN Spiral 3 Unified Collaboration Profile</a><ul>
                     <li class="profile-color"><a href="/profile/fmn3-pr-audio-collab.html">FMN Spiral 3 Audio-based Collaboration Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-audio-based-collaboration-profile.html">FMN Spiral 3.0 Audio-based Collaboration Service Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-basic-text-based-collaboration.html">FMN Spiral 3 Basis Text-based Collaboration Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-basic-text-based-collaboration-profile.html">FMN Spiral 3.0 Basic Text-based Collaboration Service Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-number-plan.html">FMN Spiral 3 Numbering Plans Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-numbering-plans-profile.html">FMN Spiral 3.0 Numbering Plans Service Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-call-signaling.html">FMN Spiral 3 Call Signaling Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-standalone-voice-services-call-signaling-profile.html">FMN Spiral 3.0 Standalone Voice Services Call Signaling Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-standalone-vtc-services-call-signaling-profile.html">FMN Spiral 3.0 Standalone VTC Services Call Signaling Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-unified-voice-and-vtc-services-call-signaling-profile.html">FMN Spiral 3.0 Unified Voice and VTC Services Call Signaling Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-unified-audio-video.html">FMN Spiral 3 Unified Audio and Video Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-session-initiation-and-control-profile.html">FMN Spiral 3.0 Session Initiation and Control Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-priority-and-pre-emption-profile.html">FMN Spiral 3.0 Priority and Pre-emption Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-media-streaming-profile.html">FMN Spiral 3.0 Media Streaming Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-srtp-based-media-infrastructure-security-profile.html">FMN Spiral 3.0 SRTP-based Media Infrastructure Security Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-ipsec-based-media-infrastructure-security-profile.html">FMN Spiral 3.0 IPSec-based Media Infrastructure Security Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-media-infrastructure-taxonomy-profile.html">FMN Spiral 3.0 Media Infrastructure Taxonomy Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-calendaring-exchange.html">FMN Spiral 3 Calendaring Exchange Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-calendaring-exchange-profile.html">FMN Spiral 3.0 Calendaring Exchange Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-formatted-messages.html">FMN Spiral 3 Formatted Messages Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-formatted-messages-for-sa-profile.html">FMN Spiral 3.0 Formatted Messages for SA Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-formatted-messages-for-medevac-profile.html">FMN Spiral 3.0 Formatted Messages for MEDEVAC Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-formatted-messages-for-isr-profile.html">FMN Spiral 3.0 Formatted Messages for ISR Profile</a></li>
                           <li class="service-color"><a href="/serviceprofile/fmn3-formatted-messages-intelligence-profile.html">FMN Spiral 3.0 Formatted Messages for Intelligence Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-video-based-collab.html">FMN Spiral 3 Video-based Collaboration Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-video-based-collaboration-profile.html">FMN Spiral 3.0 Video-based Collaboration Service Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-secure-voice.html">FMN Spiral 3 Secure Voice Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-secure-voice-profile.html">FMN Spiral 3.0 Secure Voice Service Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-informal-messaging.html">FMN Spiral 3 Informal Messaging Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-informal-messaging-profile.html">FMN Spiral 3.0 Informal Messaging Profile</a></li>
                        </ul>
                     </li>
                     <li class="profile-color"><a href="/profile/fmn3-pr-content-encapsulation.html">FMN Spiral 3 Content Encapsulation Profile</a><ul>
                           <li class="service-color"><a href="/serviceprofile/fmn3-content-encapsulation-profile.html">FMN Spiral 3.0 Content Encapsulation</a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn3-pr-information-management.html">FMN Spiral 3 Information Management Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-character-encoding-profile.html">FMN Spiral 3.0 Character Encoding Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-file-format-profile.html">FMN Spiral 3.0 File Format Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-internationalization-profile.html">FMN Spiral 3.0 Internationalization Service Profile</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn3-pr-geospatial.html">FMN Spiral 3 Geospatial Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-geospatial-web-feeds-profile.html">FMN Spiral 3.0 Geospatial Web Feeds Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-web-map-tile-service-profile.html">FMN Spiral 3.0 Web Map Tile Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-web-feature-service-profile.html">FMN Spiral 3.0 Web Feature Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-web-map-service-profile.html">FMN Spiral 3.0 Web Map Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-geospatial-data-exchange-profile.html">FMN Spiral 3.0 Geospatial Data Exchange Service Profile</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn3-pr-webhost.html">FMN Spiral 3 Web Hosting Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-structured-data-profile.html">FMN Spiral 3.0 Structured Data Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-web-feeds-profile.html">FMN Spiral 3.0 Web Feeds Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-web-services-profile.html">FMN Spiral 3.0 Web Services Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-web-platform-profile.html">FMN Spiral 3.0 Web Platform Service Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn3-web-content-profile.html">FMN Spiral 3.0 Web Content Service Profile</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn3-pr-web-auth.html">FMN Spiral 3 Web Authentication Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn3-federated-web-authentication-profile.html">FMN Spiral 3.0 Federated Web Authentication Profile</a></li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
   </li>
</ul>