<ul class="tree">
   <li class="capability-color"><a href="/capabilityprofile/archive-archive.html">Profile for the Long Term Preservattoplevelion of NATO Digital Information of Permanent value</a><ul>
         <li class="service-color"><a href="/serviceprofile/archive-archive-data-sets.html">Data Sets - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-data-sets-db.html">Data Sets DB - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-geospatial.html">Geospatial - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-moving-image.html">Moving Image - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-sound.html">Sound - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-still-image-raster.html">Still Image Raster - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-still-image-vector.html">Still Image Vector - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-text.html">Text - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-text-email.html">Text Email - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-text-chat.html">Text Chat - Archive Service Profile</a></li>
         <li class="service-color"><a href="/serviceprofile/archive-archive-web-archive.html">Web Archive - Archive Service Profile</a></li>
      </ul>
   </li>
</ul>