<ul class="tree">
   <li class="capability-color"><a href="/capabilityprofile/fmn1.html">FMN Spiral 1.1 Standards Profile</a><ul>
         <li class="profile-color"><a href="/profile/fmn1-pr-fed-com-net.html">Federated Communication and Networking Profile</a><ul>
               <li class="profile-color"><a href="/profile/fmn1-pr-fed-com.html">Federated Communication Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn1-inter-autonomous-systems-ip-transport-profile.html">Inter-Autonomous Systems IP Transport Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-ip-routing-information-profile.html">IP Routing Information Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-inter-autonomous-systems-multicast-routing-profile.html">Inter-Autonomous Systems Multicast Routing Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-ip-quality-of-service-profile.html">IP Quality of Service Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-inter-autonomous-systems-routing-profile.html">Inter-Autonomous Systems Routing Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-routing-encapsulation-profile.html">Routing Encapsulation Service Profile 1.0</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn1-pr-fed-net.html">Federated Networking Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn1-sp-directory-data-structure.html">Directory Data Structure Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-network-authentication-profile.html">Network Authentication Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-digital-certificate-profile.html">Digital Certificate Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-sp-directory-data-exchange.html">Directory Data Exchange Profile</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-domain-naming-profile.html">Domain Naming Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-sp-time-synchronization.html">Time Synchronization Service Profile 1.0</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="profile-color"><a href="/profile/fmn1-pr-fed-hum-comm.html">Federated Human-to-Human Communications Profile</a><ul>
               <li class="profile-color"><a href="/profile/fmn1-pr-uni-collab.html">Federated Unified Collaboration Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn1-content-encapsulation-profile.html">Content Encapsulation Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-informal-messaging.html">Informal Messaging Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-numbering-plans-profile.html">Numbering Plans Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-audio-based-collaboration-profile.html">Audio-based Collaboration Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-pr-secure-voice.html">Secure Voice Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-video-based-collaboration-profile.html">Video-based Collaboration Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-basic-text-based-collaboration-profile.html">Basic Text-based Collaboration Service Profile 1.0</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn1-pr-fed-inf-mgnt.html">Federated Information Management Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn1-pr-file-format-profile.html">File Format Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-internationalization-profile.html">Internationalization Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-character-encoding-profile.html">Character Encoding Service Profile 1.0</a></li>
                  </ul>
               </li>
               <li class="profile-color"><a href="/profile/fmn1-pr-fed-web-host.html">Federated Web Hosting Profile</a><ul>
                     <li class="service-color"><a href="/serviceprofile/fmn1-web-platform-profile.html">Web Platform Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-web-feeds-profile.html">Web Feeds Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-web-content-profile.html">Web Content Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-geospatial-web-feeds-profile.html">Geospatial Web Feeds Service Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-web-services-profile.html">Web Services Profile 1.0</a></li>
                     <li class="service-color"><a href="/serviceprofile/fmn1-structured-data-profile.html">Structured Data Service Profile 1.0</a></li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
   </li>
</ul>