<h2>Architecture profile</h2>
<tr>
   <td colspan="3">
      <p><strong>Architecture Formalism</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Architecture Management Application</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.nato.int/cps/en/natohq/topics_157575.htm">C3B ac322-n2018-0002 - NATO Architecture Framework</a></li>
         <li><a href="https://publications.opengroup.org/c197">Open Group c197 - ArchiMate 3.1 Specification</a></li>
      </ul>
      <p><em>Optional</em></p>
      <ul spacing="compact">
         <li><a href="http://www.iso.org/iso/catalogue_detail.htm?csnumber=50508">ISO/IEC/IEEE 42010 - Systems and software engineering -- Architecture description</a></li>
      </ul>
   </td>
   <td></td>
</tr>
<tr>
   <td colspan="3">
      <p><strong>Architecture Standard Language</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Architecture Management Application</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="http://www.omg.org/spec/UML/2.5.1/">OMG formal/2017-12-01 - Unified Modeling Language</a></li>
         <li><a href="https://www.omg.org/spec/SysML/1.5/">OMG formal-17-05-01 - OMG Systems Modeling Language (OMG SysML)</a></li>
         <li><a href="http://www.idef.com/idefo-function_modeling_method/">IDEF IDEF0 - Function Modeling Method</a></li>
         <li><a href="http://www.idef.com/idef1x-data-modeling-method/">IDEF IDEF1X - Data Modelling Method</a></li>
         <li><a href="http://www.omg.org/spec/BPMN/2.0.2/">OMG formal/2013-12-09 - BPMN Business Process Model and Notation 2.0.2</a></li>
         <li><a href="http://www.omg.org/spec/SoaML/1.0.1/">OMG formal-2012-05-10 - Service Oriented Architecture Modeling Language (SOAML)</a></li>
         <li><a href="https://publications.opengroup.org/c197">Open Group c197 - ArchiMate 3.1 Specification</a></li>
         <li><a href="https://www.omg.org/spec/UAF/1.0/">OMG formal/2017-10-01 - Unified Architecture Framework 1.0 (UAF) Domain Meta Model (DMM)</a></li>
      </ul>
   </td>
   <td></td>
</tr>
<tr>
   <td colspan="3">
      <p><strong>Architecture Process</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Architecture Management Application</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.nato.int/cps/en/natohq/topics_157575.htm">C3B ac322-n2018-0002 - NATO Architecture Framework</a></li>
      </ul>
      <p><em>Recommended</em></p>
      <ul spacing="compact">
         <li><a href="https://www.iso.org/standard/68982.html">ISO/IEC/IEEE 42020 - Enterprise, systems and software - Architecture processes</a></li>
      </ul>
   </td>
   <td>
      <p>Chapter 2 in NAF should always be followed42020 may be used as well</p>
   </td>
</tr>
<tr>
   <td colspan="3">
      <p><strong>Architecture Evaluation</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Architecture Management Application</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.iso.org/standard/73436.html">ISO/IEC/IEEE 42030 - Enterprise, systems and software - Architecture Evaluation</a></li>
      </ul>
      <p><em>Optional</em></p>
      <ul spacing="compact">
         <li><a href="http://resources.sei.cmu.edu/library/asset-view.cfm?assetid=5177">SEI cmu-sei-2000-tr-004 - ATAM: Method for Architecture Evaluation</a></li>
      </ul>
   </td>
   <td></td>
</tr>
<tr>
   <td colspan="3">
      <p><strong>Architecture Management</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Architecture Management Application</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.iso.org/standard/68982.html">ISO/IEC/IEEE 42020 - Enterprise, systems and software - Architecture processes</a></li>
         <li><a href="https://publications.opengroup.org/c174">Open Group c174 - ArchiMate Model Exchange File Format for the ArchiMate Modeling Language</a></li>
      </ul>
   </td>
   <td>
      <p>For service quality aspects - partially or totally compliant.</p>
   </td>
</tr>
<tr>
   <td colspan="3">
      <p><strong>Architecture Governance</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Architecture Management Application</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.iso.org/standard/68982.html">ISO/IEC/IEEE 42020 - Enterprise, systems and software - Architecture processes</a></li>
      </ul>
   </td>
   <td>
      <p>For methodology and quality aspects - partially or totally compliant.</p>
   </td>
</tr>