<h2>Common XML Artefacts 2.0</h2>
<tr>
   <td colspan="3">
      <p><strong>Common XML Artefacts 1.0</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Information Annotation Services, </p>
      <p>Content Management Services, </p>
      <p>Information Labeling Services, </p>
      <p>Data Format Transformation Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://nso.nato.int/">NATO STANAG 4774 Ed 1 - Confidentiality Metadata Label Syntax - ADatP-4774 Edition A</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4778 Ed 1 - Metadata Binding - ADatP-4778 Edition A</a></li>
         <li><a href="http://www.w3.org/TR/2012/REC-xmlschema11-1-20120405/">W3C REC-xmlschema11-1-20120405 - XML Schema Definition
               Language (XSD) 1.1 Part 1: Structures</a></li>
         <li><a href="http://standards.iso.org/ittf/PubiclyAvailableStandards/c055982_ISO_IEC_19757-3_2016.zip">ISO 19757-3 - Information Technology - Document Schema Definition Languages (DSDL) - Part 3: Rules-based validation - Schematron Second
               Edition</a></li>
         <li><a href="http://www.w3.org/1999/06/REC-xml-stylesheet-19990629/">W3C REC-xml-stylesheet-19990629 - Associating Style Sheets with XML documents, Version 1.0</a></li>
         <li><a href="https://docs.oasis-open.org/codelist/cs-genericode-1.0/doc/oasis-code-list-representation-genericode.pdf,">OASIS cs-genericode-1.0 - Code List Representation (Genericode)</a></li>
         <li><a href="http://docs.oasis-open.org/codelist/ns/ContextValueAssociation/1.0/doc/context-value-association.pdf">OASIS context-value-association-1.0 - Context/value Association using genericode 1.0</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2119.txt">IETF RFC 2119 - Key words for use in RFCs to Indicate Requirement Levels</a></li>
         <li><a href="">XML SPIF xmlspif - Open XML SPIF</a></li>
      </ul>
   </td>
   <td></td>
</tr>