<h2>SIP for Enterprise Directory Services</h2>
<tr>
   <td colspan="3">
      <p><strong>Enterprise Directory</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.ietf.org/rfc/rfc4510.txt">IETF RFC 4510 - LDAP: Technical Specification Road Map</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4511.txt">IETF RFC 4511 - LDAP: The Protocol</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4512.txt">IETF RFC 4512 - LDAP: Directory Information Models</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4513.txt">IETF RFC 4513 - LDAP: Authentication Methods and Security Mechanisms</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4514.txt">IETF RFC 4514 - LDAP: String Representation of Distinguished Names</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4515.txt">IETF RFC 4515 - LDAP: String Representation of Search Filters</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4516.txt">IETF RFC 4516 - LDAP: Uniform Resource Locator</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4517.txt">IETF RFC 4517 - LDAP: Syntaxes and Matching Rules</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4518.txt">IETF RFC 4518 - LDAP: Internationalized String Preparation</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4519.txt">IETF RFC 4519 - LDAP: Schema for User Applications</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2798.txt">IETF RFC 2798 - Definition of the inetOrgPerson LDAP Object Class</a></li>
         <li><a href="https://nhqc3s.hq.nato.int/Pages/Browse.aspx">CCEB ACP 133(C) - Common Directory Services and Procedures</a></li>
      </ul>
   </td>
   <td></td>
</tr>