<h2>Simple Object Access Protocol (SOAP) Binding Profile 2.0</h2>
<tr>
   <td colspan="3">
      <p><strong>Simple Object Access Protocol</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Information Annotation Services, </p>
      <p>Content Management Services, </p>
      <p>Information Labeling Services, </p>
      <p>Information Access Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://nso.nato.int/">NATO STANAG 4774 Ed 1 - Confidentiality Metadata Label Syntax - ADatP-4774 Edition A</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4778 Ed 1 - Metadata Binding - ADatP-4778 Edition A</a></li>
         <li><a href="http://www.w3.org/TR/2000/NOTE-SOAP-20000508/">W3C NOTE-SOAP-20000508 - Simple Object Access Protocol (SOAP)</a></li>
         <li><a href="http://www.w3.org/TR/2007/REC-soap12-part1-20070427/">W3C REC-soap12-part1-20030624 - SOAP Version 1.2 Part 1: Messaging Framework</a></li>
         <li><a href="http://www.w3.org/TR/xmldsig-core/">W3C REC-xmldsig-core-20080610 - XML-Signature Syntax and Processing (Second Edition)</a></li>
      </ul>
   </td>
   <td></td>
</tr>