<h2>SIP for a Notification Cache Service</h2>
<tr>
   <td colspan="3">
      <p><strong>Notification Cache</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="http://docs.oasis-open.org/wsn/wsn-ws_base_notification-1.3-spec-os.pdf">OASIS ws-notif - WS-BaseNotification</a></li>
         <li><a href="http://docs.oasis-open.org/wsn/wsn-ws_brokered_notification-1.3-spec-os.pdf">OASIS wsn-ws_brokered_notification-1.3-spec-os - WS-BrokeredNotification 1.3</a></li>
         <li><a href="https://docs.oasis-open.org/wsrf/wsrf-ws_base_faults-1.2-spec-os.pdf">OASIS wsrf-ws_base_faults-1.2-spec-os  - Web Services Base Faults 1.2</a></li>
         <li><a href="http://www.w3.org/TR/2006/REC-ws-addr-core-20060509">W3C REC-ws-addr-core-20060509 - Web Services Addressing 1.0 - Core</a></li>
      </ul>
   </td>
   <td></td>
</tr>