<h2>Simple Mail Transfer Protocol (SMTP) Binding Profile 2.0</h2>
<tr>
   <td colspan="3">
      <p><strong>Simple Mail Transfer Protocol</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Information Annotation Services, </p>
      <p>Content Management Services, </p>
      <p>Information Labeling Services, </p>
      <p>Informal Messaging Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://nso.nato.int/">NATO STANAG 4774 Ed 1 - Confidentiality Metadata Label Syntax - ADatP-4774 Edition A</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4778 Ed 1 - Metadata Binding - ADatP-4778 Edition A</a></li>
         <li><a href="http://tools.ietf.org/html/rfc5322">IETF RFC 5322 - Internet Message Format</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc7444.txt">IETF RFC 7444 - Security Labels in Internet Email</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2392.txt">IETF RFC 2392 - Content-ID and Message-ID Uniform Resource Locators</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc5731.txt">IETF RFC 5731 - Extensible Provisioning Protocol (EPP) Domain Name Mapping</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2231.txt">IETF RFC 2231 - MIME Parameter Value and Encoded Word Extensions: Character Sets, Languages, and Continuations</a></li>
      </ul>
   </td>
   <td></td>
</tr>