<h2>Representational State Transfer (REST) Profile 2.0</h2>
<tr>
   <td colspan="3">
      <p><strong>Representational State Transfer</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Information Annotation Services, </p>
      <p>Content Management Services, </p>
      <p>Information Labeling Services, </p>
      <p>Information Access Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://nso.nato.int/">NATO STANAG 4774 Ed 1 - Confidentiality Metadata Label Syntax - ADatP-4774 Edition A</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4778 Ed 1 - Metadata Binding - ADatP-4778 Edition A</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc7444.txt">IETF RFC 7444 - Security Labels in Internet Email</a></li>
         <li><a href="https://tools.ietf.org/rfc/rfc7230.txt">IETF RFC 7230 - Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2231.txt">IETF RFC 2231 - MIME Parameter Value and Encoded Word Extensions: Character Sets, Languages, and Continuations</a></li>
         <li><a href="https://www.itu.int/rec/T-REC-X.841/en">ITU-T X.841 - Information Technology - Security Techniques - Security information objects for access control</a></li>
      </ul>
   </td>
   <td></td>
</tr>