<h2>Cryptographic Artefact Binding Profiles 2.0</h2>
<tr>
   <td colspan="3">
      <p><strong>Cryptographic Artefact Binding</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Infrastructure Cryptography Services, </p>
      <p>Information Annotation Services, </p>
      <p>Content Management Services, </p>
      <p>Information Labeling Services, </p>
      <p>Infrastructure Cryptography Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://nso.nato.int/">NATO STANAG 4774 Ed 1 - Confidentiality Metadata Label Syntax - ADatP-4774 Edition A</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4778 Ed 1 - Metadata Binding - ADatP-4778 Edition A</a></li>
         <li><a href="http://www.w3.org/TR/xmldsig-core/">W3C REC-xmldsig-core-20080610 - XML-Signature Syntax and Processing (Second Edition)</a></li>
         <li><a href="http://docs.oasis-open.org/wss/v1.1">OASIS wss-v1.1-spec-os-SOAPMessageSecurity - Web Services Security: SOAP Message Security 1.1</a></li>
         <li><a href="http://www.w3.org/TR/xpath/">W3C REC-xpath-19991119 - XML Path Language 1.0</a></li>
         <li><a href="http://www.w3.org/TR/xptr/">W3C wd-xptr-20020816 - XML Pointer Language (Xpointer)</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2014.txt">IETF RFC 2104 - HMAC: Keyed-Hashing for Message Authentication</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc5751.txt">IETF RFC 5751 - Secure/Multipurpose Internet Mail Extensions (S/MIME) Version 3.2 Message Specification</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc7515.txt">IETF RFC 7515 - JSON Web Signature (JWS)</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6931.txt">IETF RFC 6931 - Additional XML Security Uniform Resource Identifiers (URIs)</a></li>
         <li><a href="http://www.w3.org/2008/06/xmldsigcore-errata.html">W3C REC-xmldsig-core-20080610 - Errata for XML Signature 2nd Edition</a></li>
         <li><a href="http://www.w3.org/TR/xmlsec-algorithms">W3C NOTE-xmlsec-algorithms-20130411 - XML Security Algorithm Cross-Reference</a></li>
         <li><a href="https://www.w3.org/TR/2013/REC-xmldsig-core1-20130411/">W3C REC-xmldsig-core1-20130411 - XML Signature Syntax and Processing Version 1.1</a></li>
         <li><a href="http://www.w3.org/TR/2002/REC-xmlenc-core-20021210/">W3C REC-xmlenc-core-20021210 - XML Encryption Syntax and Processing</a></li>
         <li><a href="https://www.w3.org/TR/2013/REC-xmlenc-core1-20130411/">W3C REC-xmlenc-core1-20130411 - XML Encryption Syntax and Processing Version 1.1</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc5280.txt">IETF RFC 5280 - Internet X.509 Public Key Infrastructure Certificate and CRL Profile</a></li>
      </ul>
   </td>
   <td></td>
</tr>