<h2>Extensible Message and Presence Protocol (XMPP) Binding Profile 2.0</h2>
<tr>
   <td colspan="3">
      <p><strong>Extensible Message and Presence Protocol XMPP Binding</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Information Annotation Services, </p>
      <p>Content Management Services, </p>
      <p>Information Labeling Services, </p>
      <p>Text-based Communication Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.ietf.org/rfc/rfc2634.txt">IETF RFC 2634 - Enhanced Security Services for S/MIME</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4774 Ed 1 - Confidentiality Metadata Label Syntax - ADatP-4774 Edition A</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4778 Ed 1 - Metadata Binding - ADatP-4778 Edition A</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0258.html">XMPP XEP-0258 - XEP-0258: Security Labels in XMPP</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0060.html">XMPP XEP-0060 - XEP-0060: Publish-Subscribe</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6122.txt">IETF RFC 6122 - Extensible Messaging and Presence Protocol (XMPP): Address Format</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6120.txt">IETF RFC 6120 - Extensible Messaging and Presence Protocol (XMPP): Core</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6121.txt">IETF RFC 6121 - Extensible Messaging and Presence Protocol (XMPP): Instant Messaging and Presence</a></li>
      </ul>
   </td>
   <td></td>
</tr>