<h2>Service Interface Profile for Transport Layer Security</h2>
<tr>
   <td colspan="3">
      <p><strong>Service Interface Profile for Transport Layer Security Service Profile</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Informal Messaging Services, </p>
      <p>Text-based Communication Services, </p>
      <p>Web Hosting Services, </p>
      <p>Directory Data Synchronization Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.ietf.org/rfc/rfc5246.txt">IETF RFC 5246 - Transport Layer Security (TLS)</a></li>
         <li><a href="https://tools.ietf.org/html/rfc7525">IETF RFC 7525 - Recommendations for Secure Use of Transport Layer Security (TLS) and Datagram Transport Layer Security (DTLS)</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2246.txt">IETF RFC 2246 - The TLS Protocol Version 1.0</a></li>
         <li><a href="https://tools.ietf.org/html/rfc4346">IETF RFC 4346 - The Transport Layer Security (TLS) Protocol Version 1.1</a></li>
         <li><a href="https://tools.ietf.org/html/draft-hickman-netscape-ssl-00">IETF RFC SSL2 - The SSL Protocol</a></li>
         <li><a href="https://tools.ietf.org/html/rfc6101">IETF RFC 6101 - The Secure Sockets Layer (SSL) Protocol Version 3.0</a></li>
         <li><a href="https://tools.ietf.org/html/rfc6066">IETF RFC 6066 - Transport Layer Security (TLS) Extensions: Extension Definitions</a></li>
         <li><a href="https://tools.ietf.org/html/rfc793">IETF RFC 793 - Transmission Control Protocol</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc5280.txt">IETF RFC 5280 - Internet X.509 Public Key Infrastructure Certificate and CRL Profile</a></li>
         <li><a href="https://tools.ietf.org/html/rfc5746">IETF RFC 5746 - Transport Layer Security (TLS) Renegotiation Indication Extension</a></li>
         <li><a href="https://tools.ietf.org/html/rfc6960">IETF RFC 6960 - X.509 Internet Public Key Infrastructure Online Certificate Status Protocol - OCSP</a></li>
         <li><a href="https://tools.ietf.org/html/rfc6961">IETF RFC 6961 - The Transport Layer Security (TLS) Multiple Certificate Status Request Extension</a></li>
         <li><a href="https://tools.ietf.org/html/rfc4492">IETF RFC 4492 - Elliptic Curve Cryptography (ECC) Cipher Suites for Transport Layer Security (TLS)</a></li>
         <li><a href="https://tools.ietf.org/html/rfc7627">IETF RFC 7627 - Transport Layer Security (TLS) Session Hash and Extended Master Secret Extension</a></li>
         <li><a href="https://tools.ietf.org/html/rfc3749">IETF RFC 3749 - Transport Layer Security Protocol Compression Methods</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6125.txt">IETF RFC 6125 - Representation and Verification of Domain-Based Application Service Identity within Internet Public Key Infrastructure Using
               X.509 (PKIX) Certificates in the Context of Transport Layer Security (TLS)</a></li>
         <li><a href="https://tools.ietf.org/html/rfc6520">IETF RFC 6520 - Transport Layer Security (TLS) and Datagram Transport Layer Security (DTLS) Heartbeat Extension</a></li>
         <li><a href="https://tools.ietf.org/html/rfc7627">IETF RFC 7366 - Encrypt-then-MAC for Transport Layer Security (TLS) and Datagram Transport Layer Security (DTLS)</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc7919.txt">IETF RFC 7919 - Negotiated Finite Field Diffie-Hellman Ephemeral Parameters for Transport Layer Security (TLS)</a></li>
         <li><a href="https://tools.ietf.org/html/rfc6176">IETF RFC 6176 - Prohibiting Secure Sockets Layer (SSL) Version 2.0</a></li>
         <li><a href="https://tools.ietf.org/html/rfc7568">IETF RFC 7568 - Deprecating Secure Sockets Layer Version 3.0</a></li>
      </ul>
   </td>
   <td></td>
</tr>