<h2>SIP for Geospatial Services - Map Rendering Service</h2>
<tr>
   <td colspan="3">
      <p><strong>Geospatial and Map Rendering</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="http://www.opengeospatial.org/standards/wms">OGC 06-042 - Open GIS Web Map Service Implementation Specification</a></li>
         <li><a href="http://www.opengeospatial.org/standards/wmts">OGC 07-057r7 - OpenGIS Web Map Tile Service Implementation Standard</a></li>
         <li><a href="http://portal.opengeospatial.org/files/?artifact_id=38867">OGC 06-121r9 - Web Services Common Implementation Specification v2.0.0</a></li>
         <li><a href="http://portal.opengeospatial.org/files/?artifact_id=1188">OGC 02-070 - OpenGIS Styled Layer Descriptor (SLD) Profile of the Web Map Service Implementation Specification</a></li>
      </ul>
   </td>
   <td></td>
</tr>