<h2>SIP for REST Messaging</h2>
<tr>
   <td colspan="3">
      <p><strong>Rest Messaging</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.ietf.org/rfc/rfc2616.txt">IETF RFC 2616 - HyperText Transfer Protocol (HTTP), version 1.1</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc3986.txt">IETF RFC 3986 - Uniform Resource Identifiers (URI): Generic Syntax</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2046.txt">IETF RFC 2046 - MIME - Part 2: Media Types</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc3023.txt">IETF RFC 3023 - XML Media Types</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4627.txt">IETF RFC 4627 - The application/json Media Type for JavaScript Object Notation (JSON)</a></li>
         <li><a href="http://www.w3.org/TR/2007/REC-wsdl20-20070626">W3C REC-wsdl20-20070626 - Web Services Description Language (WSDL) Version 2.0 Part 1: Core Language</a></li>
      </ul>
   </td>
   <td></td>
</tr>