<h2>SIP for Security Services</h2>
<tr>
   <td colspan="3">
      <p><strong>Security</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.oasis-open.org/standards#samlv2.0">OASIS saml - OASIS Security Services (SAML)</a></li>
         <li><a href="http://www.oasis-open.org/committees/download.php/16768/wss-v1.1-spec-os-SAMLTokenProfile.pdf">OASIS wss-v1.1-errata-os-SAMLTokenProfile - SAML Token Profile 1.1</a></li>
         <li><a href="http://www.w3.org/TR/2002/REC-xmlenc-core-20021210/">W3C REC-xmlenc-core-20021210 - XML Encryption Syntax and Processing</a></li>
         <li><a href="http://www.w3.org/TR/xmldsig-core/">W3C REC-xmldsig-core-20080610 - XML-Signature Syntax and Processing (Second Edition)</a></li>
         <li><a href="http://www.ws-i.org/Profiles/BasicSecurityProfile-1.1.html">WS-I BasicSecurityProfile-1.1-2010-01-24.html  - Basic Security Profile Version 1.1</a></li>
      </ul>
   </td>
   <td></td>
</tr>