<h2>Service Interface Profile for Web Applications</h2>
<tr>
   <td colspan="3">
      <p><strong>Service Interface Profile for Web Applications Service Profile</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Browser Application, </p>
      <p>Web Platform Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.w3.org/TR/html5/">W3C REC-html52 - Hypertext Markup Language revision 5.2 (HTML5)</a></li>
         <li><a href="https://www.w3.org/TR/2014/NOTE-html5-diff-20141209/">W3C NOTE-html5-diff - HTML5 Differences from HTML4</a></li>
         <li><a href="https://www.w3.org/TR/mwabp/">W3C REC-mwabp - Mobile Web Application Best Practices</a></li>
         <li><a href="https://www.w3.org/TR/DOM-Parsing/">W3C WD-DOM-Parsing - DOM Parsing and Serialization</a></li>
         <li><a href="https://www.w3.org/TR/geolocation-API/">W3C geolocation-API - Geolocation API Specification 2nd Edition</a></li>
         <li><a href="https://w3c.github.io/speech-api/">W3C speech-API - Web Speech API</a></li>
         <li><a href="https://www.w3.org/TR/media-source/">W3C REC-media-source - Media Source Extensions</a></li>
         <li><a href="https://www.w3.org/TR/html5/semantics-embedded-content.html#semantics-embedded-content">W3C REC-html53-Draft - Hypertext Markup Language revision 5.3 Editor's Draft (4.7)</a></li>
      </ul>
   </td>
   <td></td>
</tr>