<h2>SIP for REST Security Services</h2>
<tr>
   <td colspan="3">
      <p><strong>Rest Security</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.ietf.org/rfc/rfc6749.txt">IETF RFC 6749 - The OAuth 2.0 Authorization Framework</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6750.txt">IETF RFC 6750 - The OAuth 2.0 Authorization Framework: Bearer Token Usage</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2616.txt">IETF RFC 2616 - HyperText Transfer Protocol (HTTP), version 1.1</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc5246.txt">IETF RFC 5246 - Transport Layer Security (TLS)</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc2617.txt">IETF RFC 2617 - HTTP Authentication: Basic and Digest Access Authentication</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4120.txt">IETF RFC 4120 - The Kerberos Network Authentication Service (V5)</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4559.txt">IETF RFC 4559 - SPNEGO-based Kerberos and NTLM HTTP Authentication in Microsoft Windows</a></li>
         <li><a href="https://www.oasis-open.org/standards#samlv2.0">OASIS saml - OASIS Security Services (SAML)</a></li>
         <li><a href="http://www.w3.org/TR/2002/REC-xmlenc-core-20021210/">W3C REC-xmlenc-core-20021210 - XML Encryption Syntax and Processing</a></li>
         <li><a href="http://www.w3.org/TR/xmldsig-core/">W3C REC-xmldsig-core-20080610 - XML-Signature Syntax and Processing (Second Edition)</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc5751.txt">IETF RFC 5751 - Secure/Multipurpose Internet Mail Extensions (S/MIME) Version 3.2 Message Specification</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc7521.txt">IETF RFC 7521 - Assertion Framework for OAuth 2.0 Client Authentication and                           Authorization Grants</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc7522.txt">IETF RFC 7522 - Security Assertion Markup Language (SAML) 2.0 Profile       for OAuth 2.0 Client Authentication and Authorization Grants</a></li>
      </ul>
   </td>
   <td></td>
</tr>