<h2>SIP for Core and Advanced Instant Messaging Collaboration Services</h2>
<tr>
   <td colspan="3">
      <p><strong>Core and Advanced Instant Messaging Collaboration</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.ietf.org/rfc/rfc6120.txt">IETF RFC 6120 - Extensible Messaging and Presence Protocol (XMPP): Core</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6121.txt">IETF RFC 6121 - Extensible Messaging and Presence Protocol (XMPP): Instant Messaging and Presence</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6122.txt">IETF RFC 6122 - Extensible Messaging and Presence Protocol (XMPP): Address Format</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0004.html">XMPP XEP-0004 - XEP-0004: Data Forms</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0030.html">XMPP XEP-0030 - XEP-0030: Service Discovery</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0033.html">XMPP XEP-0033 - XEP-0033: Extended Stanza Addressing</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0045.html">XMPP XEP-0045 - XEP-0045: Multi-User Chat</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0048.html">XMPP XEP-0048 - XEP-0048: Bookmarks</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0053.html">XMPP XEP-0053 - XEP-0053: XMPP Registrar Function</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0054.html">XMPP XEP-0054 - XEP-0054: vcard-temp</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0055.html">XMPP XEP-0055 - XEP-0055: Jabber Search</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0060.html">XMPP XEP-0060 - XEP-0060: Publish-Subscribe</a></li>
         <li><a href="https://xmpp.org/extensions/xep-0068.html">XMPP XEP-0068 - XEP-0068: Field Standardization for Data Forms</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0079.html">XMPP XEP-0079 - XEP-0079: Advanced Message Processing</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0080.html">XMPP XEP-0080 - XEP-0080: User Location</a></li>
         <li><a href="https://xmpp.org/extensions/xep-0082.html">XMPP XEP-0082 - XEP-0082: XMPP Date and Time Profiles</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0122.html">XMPP XEP-0122 - XEP-0122: Data Forms Validation</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0127.html">XMPP XEP-0127 - XEP-0127: Common Alerting Protocol (CAP) Over XMPP</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0138.html">XMPP XEP-0138 - XEP-0138: Stream Compression</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0141.html">XMPP XEP-0141 - XEP-0141: Data Forms Layout</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0198.html">XMPP XEP-0198 - XEP-0198: Stream Management</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0199.html">XMPP XEP-0199 - XEP-0199: XMPP Ping</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0203.html">XMPP XEP-0203 - XEP-0203: Delayed Delivery</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0202.html">XMPP XEP-0202 - XEP-0202: Entity Time</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0220.html">XMPP XEP-0220 - XEP-0220: Server Dialback</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0256.html">XMPP XEP-0256 - XEP-0256: Last Activity in Presence</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0258.html">XMPP XEP-0258 - XEP-0258: Security Labels in XMPP</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0288.html">XMPP XEP-0288 - XEP-0228: Bidirectional Server-to-Server Connections</a></li>
      </ul>
   </td>
   <td></td>
</tr>