<h2>SIP for Messaging</h2>
<tr>
   <td colspan="3">
      <p><strong>Messaging</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="http://www.w3.org/TR/2007/REC-soap12-part1-20070427/">W3C REC-soap12-part1-20030624 - SOAP Version 1.2 Part 1: Messaging Framework</a></li>
         <li><a href="http://www.w3.org/TR/2000/NOTE-SOAP-20000508/">W3C NOTE-SOAP-20000508 - Simple Object Access Protocol (SOAP)</a></li>
         <li><a href="http://www.w3.org/TR/2006/REC-ws-addr-core-20060509">W3C REC-ws-addr-core-20060509 - Web Services Addressing 1.0 - Core</a></li>
         <li><a href="http://ws-i.org/Profiles/BasicProfile-2.0-2010-11-09.html">WS-I wsbp - WS-I Basic Profile 2.0</a></li>
         <li><a href="http://ws-i.org/Profiles/BasicProfile-1.2-2010-11-09.html">WS-I BP12 - WS-I Basic Profile 1.2</a></li>
      </ul>
   </td>
   <td></td>
</tr>