<h2>SIP for Basic Collaboration Services</h2>
<tr>
   <td colspan="3">
      <p><strong>Basic Collaboration</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Undefined Taxonomy Node</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://www.ietf.org/rfc/rfc6120.txt">IETF RFC 6120 - Extensible Messaging and Presence Protocol (XMPP): Core</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6121.txt">IETF RFC 6121 - Extensible Messaging and Presence Protocol (XMPP): Instant Messaging and Presence</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc6122.txt">IETF RFC 6122 - Extensible Messaging and Presence Protocol (XMPP): Address Format</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0138.html">XMPP XEP-0138 - XEP-0138: Stream Compression</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0198.html">XMPP XEP-0198 - XEP-0198: Stream Management</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0199.html">XMPP XEP-0199 - XEP-0199: XMPP Ping</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0220.html">XMPP XEP-0220 - XEP-0220: Server Dialback</a></li>
         <li><a href="http://xmpp.org/extensions/xep-0288.html">XMPP XEP-0288 - XEP-0228: Bidirectional Server-to-Server Connections</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4121.txt">IETF RFC 4121 - The Kerberos Version 5 Generic Security Service Application Program Interface (GSS-API) Mechanism: Version 2</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4422.txt">IETF RFC 4422 - Simple Authentication and Security Layer (SASL)</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4505.txt">IETF RFC 4505 - Anonymous Simple Authentication and Security Layer (SASL) Mechanism</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4616.txt">IETF RFC 4616 - The PLAIN Simple Authentication and Security Layer (SASL) Mechanism</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc4752.txt">IETF RFC 4752 - The Kerberos v5 Simple Authentication and Security Layer (SASL) Mechanism</a></li>
         <li><a href="https://www.ietf.org/rfc/rfc5246.txt">IETF RFC 5246 - Transport Layer Security (TLS)</a></li>
      </ul>
   </td>
   <td></td>
</tr>