<h2>Extensible Metadata Platform (XMP) Binding Profile 2.0</h2>
<tr>
   <td colspan="3">
      <p><strong>Extensible Metadata Platform (XMP) Binding Profile</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Information Annotation Services, </p>
      <p>Content Management Services, </p>
      <p>Information Labeling Services, </p>
      <p>Office Automation Applications</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="http://www.iso.org/iso/catalogue_detail?csnumber=57421">ISO 16684-1 - Graphic Technology - Extensible metadata platform (XMP) specification - Part 1: Data model, serialization and core propertie</a></li>
         <li><a href="https://www.w3.org/TR/rdf11-concepts/">W3C REC-rdf11-concepts-20140225 - RDF 1.1 Concepts and Abstract Syntax</a></li>
         <li><a href="http://www.w3.org/TR/rdf-primer/">W3C REC-rdf-primer-20040210 - RDF Primer</a></li>
         <li><a href="http://wwwimages.adobe.com/content/dam/Adobe/en/devnet/xmp/pdfs/XMP%20SDK%20Release%20cc-2016-08/XMPSpecificationPart3.pdf">ADOBE XMP-part3-2016 - XMP Specification Part 3, Storage in Files</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4774 Ed 1 - Confidentiality Metadata Label Syntax - ADatP-4774 Edition A</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4778 Ed 1 - Metadata Binding - ADatP-4778 Edition A</a></li>
         <li><a href="http://www.w3.org/TR/2008/REC-xml-20081126/">W3C REC-xml-20081126 - eXtensible Markup Language (XML) version 1.0 (Fifth Edition)</a></li>
      </ul>
   </td>
   <td></td>
</tr>