<h2>Web Service Messaging Profile Binding Profile 2.0</h2>
<tr>
   <td colspan="3">
      <p><strong>Web Service Messaging Profile BindBinding ing Profile 1.0</strong></p>
      <p></p>
   </td>
</tr>
<tr>
   <td>
      <p>Information Annotation Services, </p>
      <p>Content Management Services, </p>
      <p>Information Labeling Services</p>
   </td>
   <td>
      <p><em>Mandatory</em></p>
      <ul spacing="compact">
         <li><a href="https://nso.nato.int/">NATO STANAG 4774 Ed 1 - Confidentiality Metadata Label Syntax - ADatP-4774 Edition A</a></li>
         <li><a href="https://nso.nato.int/">NATO STANAG 4778 Ed 1 - Metadata Binding - ADatP-4778 Edition A</a></li>
      </ul>
   </td>
   <td></td>
</tr>